dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
glados
glados-vm
Glados-On-Top.cabal
.vscode/
.idea/
.claude/
bonus/mcp-server/binaries/*
bonus/mcp-server/docs/*
bonus/mcp-server/node_modules/
