dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
glados
glados-vm
*.gbc
.vscode/
.claude/
.idea/
Glados-On-Top.cabal
CLAUDE.md

# Bonus-linter (VSCode Extension)
bonus-linter/node_modules/
bonus-linter/out/
bonus-linter/*.vsix
bonus-linter/package-lock.json
bonus-linter/.vscode-test/

# Bonus
bonus/**/node_modules/
bonus/**/package-lock.json