name: Glados

on:
    push:
        branches-ignore:
        - 'ga-ignore-*'
    pull_request:
        branches-ignore:
        - 'ga-ignore-*'

env:
  MIRROR_URL: ${{ vars.TARGET_URL }}

jobs:
  mirror:
    name: Mirror repository
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Mirror repository
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: ${{ env.MIRROR_URL }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
